*~
*.o
bootsect_bin
kernel_bin
/.vs/ltkernel/v15
/Debug
/boot/bootsect
/kernel/kernel
/kernel.bin
/ltkernel.img
/log.txt
/.vs/ltkernel/v14
/x64/Debug
/ltkernel.VC.db
/ltkernel.VC.VC.opendb
/TODO.txt
/iso/boot/ltkernel.img
/ltkernel.iso
